*.Trash
*.apk
*.bak
*.hidden
*.hotfiles.btree
*.pbxuser
*.perspectivev3
*.mode1v3
xcuserdata
*.swp
*.tmp
*~
*~.nib
.DS_Store
.Spotlight-V100
.metadata
.svn
.svn/*
/.vol
/tmp/**
Desktop.ini
Thumbs.db
bin
build
gen
local.properties
tmp/**
tmp/**/*
local.properties

